<div class="modal" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">
            <div class="login-logo">
                <br><br>
                <label>
                    <h1 class="form-title">Faça seu login</h1>
                </label>
            </div>
            <div class="col-xl-10 py-10">
                <div class="md-form form-sm">
                    <i class="fa fa-user prefix"></i>
                    <input type="text" name="email" input [(ngModel)]="usuario.email"
                        [ngModelOptions]="{standalone: true}" id="email" class="form-control form-control-sm" />
                    <label for="email" required>E-mail</label>
                </div>
                <div class="md-form form-sm">
                    <i class="fa fa-envelope prefix"></i>
                    <input type="password" name="senha" id="senha" input [(ngModel)]="usuario.senha"
                        [ngModelOptions]="{standalone: true}" class="form-control form-control-sm" required />
                    <label for="senha">Senha</label>
                </div>
                <label>
                    <input id="remember" type="checkbox" value="remember-me" />Lembrar-me
                </label>
                <div class="text-center mt-4">
                    <button type="button" class="btn btn btn-rounded" data-dismiss="modal" id="btnfecharLogin"
                        (click)="logar();">
                        Enviar <i class="fa fa-paper-plane-o ml-1"></i>
                    </button>
                </div>
            </div>
            <div id="msgErro">
                <p>Campo(s) obrigatório(s)</p>
            </div>
            <br><br>
            <p class="text-center">Não tem conta? <a data-toggle="modal" data-target="#modalLRForm2"
                    [routerLink]="'/cadastrar-usuario'">Cadastre-se</a></p>
        </div>
    </div>
</div>