<body>
  <div>
    <h1 class="help-title">
      Algum problema?<br />
      Estamos aqui para ajudar :)
    </h1>
  </div>

  <!-- Grid row -->
  <div class="row accordion-gradient-bcg d-flex justify-content-center col-lg-12">
    <!-- Grid column -->
    <div class="col-md-3">
      <!--Card-->
      <div class="card">
        <!--Card image-->
        <div class="view">
          <img src="../../../assets/images/sobre-o-curso-1.png" class="card-img-top" alt="photo" />
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Sobre o curso</h4>
          <!--Text-->
          <p class="card-text">
            Dúvidas gerais sobre o conteúdo dos cursos, duração e avaliações
          </p>
        </div>
      </div>
      <!--/.Card-->
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-3">
      <!--Card-->
      <div class="card">
        <!--Card image-->
        <div class="view">
          <img src="../../../assets/images/certificado-2.png" class="card-img-top" alt="photo" />
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Certificado</h4>
          <!--Text-->
          <p class="card-text">
            Dúvidas relacionadas a emissão e dados constantes nos certificados
          </p>
        </div>
      </div>
      <!--/.Card-->
    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-md-3 ">
      <!--Card-->
      <div class="card">
        <!--Card image-->
        <div class="view">
          <img src="../../../assets/images/acesso-3.png" class="card-img-top" alt="photo" />
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Acesso</h4>
          <!--Text-->
          <p class="card-text">
            Dúvidas sobre o acesso do portal, senhas, e-mail e outros recursos
          </p>
        </div>
      </div>
      <!--/.Card-->
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->
  <br /><br />

  <!-- Início do collapse/accordion (FAQ: perguntas e respostas) -->

  <!-- Card -->
  <div class="card card-image">
    <!-- Content -->
    <div class="py-5 px-6">
      <div class="row d-flex justify-content-center m-0">
        <div class="col-md-10 col-xl-8">
          <!--Accordion wrapper-->
          <div class="accordion md-accordion accordion-5" id="accordionEx5" role="tablist" aria-multiselectable="true">
            <!-- Accordion card -->
            <div class="card mb-4">
              <!-- Card header -->
              <div class="card-header p-0 z-depth-1" role="tab" id="heading30">
                <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse30" aria-expanded="true"
                  aria-controls="collapse30">
                  <i class="incon-fas fas fa-laptop-code fa-2x p-3 mr-4 float-left black-text" aria-hidden="true"></i>
                  <h4 class="text-uppercase white-text mb-0 py-3 mt-1 rounded">
                    Sobre o Curso
                  </h4>
                </a>
              </div>

              <div id="collapse30" class="collapse" role="tabpanel" aria-labelledby="heading30"
                data-parent="#accordionEx5">
                <div class="card-body-1 rgba-light white-text z-depth-5 rounded">
                  <h6 class="p-md-4 mb-0">
                    <h6>
                      <ul>
                        <li>
                          <h4 class="ask-title">
                            Estou em dúvida entre estudar de forma presencial e fazer um curso online. Por que os cursos
                            da ProgrAme.se são online?
                          </h4>
                          <br />
                          <p class="answer-text">
                            Os cursos da ProgrAme.se são online para que o aluno possa estudar onde e na hora
                            que quiser: tudo no seu ritmo!
                          </p>
                        </li>
                        <li>
                          <h3 class="ask-title">
                            De que forma a ProgrAme.se faz o planejamento do conteúdo?
                          </h3>
                          <br />
                          <p class="answer-text">
                            O conteúdo é organizado levando em conta as necessidades do mercado. Todos os cursos
                            oferecem uma experiência de aprendizagem completa: você vai encontrar questões de múltipla
                            escolha, projetos (dos simples aos complexos) podcasts e vídeos. Há também um fórum de
                            dúvidas, onde é possível enviar uma mensagem para o instrutor responsável e conversar com
                            outros alunos do curso para troca de experiências. Você terá todo o auxílio necessário para
                            o melhor aproveitamento das aulas!
                          </p>
                        </li>
                        <li>
                          <h3 class="ask-title">Qual é a duração dos cursos?</h3>
                          <br />
                          <p class="answer-text">
                            Cada curso possui uma carga horária diferente,
                            que pode variar de 10 a 100 horas. Você pode
                            conferir a duração na página de cada curso.
                          </p>
                        </li>

                        <li>
                          <h3 class="ask-title">
                            De que forma é feita a avaliação dos cursos?
                          </h3>
                          <br />
                          <p class="answer-text">
                            Cada curso é dividido por módulos e, ao final de cada módulo, são realizados diversos
                            exercícios e um projeto simples. A essas atividades não é atribuída nenhuma porcentagem de
                            acertos, embora os exercícios sejam corrigidos e o projeto, revisado pelo professor. Ao
                            final de todos os módulos, o aluno deverá entregar um projeto final, que também será
                            corrigido pelo professor. Alunos com mais de 80% de frequência (contabilizada através de
                            participação nos fóruns, vídeos e podcasts assistidos, PDFs acessados e exercícios
                            realizados) e com um feedback positivo (também acima de 80%) do professor em relação ao
                            projeto final recebem o certificado. Caso não atinja a porcentagem necessária fique
                            tranquilo (a)! Você poderá refazer as atividades. ;)
                          </p>
                        </li>
                      </ul>
                    </h6>
                  </h6>
                </div>
              </div>
            </div>
            <!-- Accordion card -->

            <!-- Accordion card -->
            <div class="card mb-4 rounded">
              <!-- Card header -->
              <div class="card-header p-0 z-depth-1" role="tab" id="heading31">
                <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse31" aria-expanded="true"
                  aria-controls="collapse31">
                  <i class="incon-fas fas fa-user-graduate fa-2x p-3 mr-4 float-left black-text" aria-hidden="true"></i>
                  <h4 class="text-uppercase white-text mb-0 py-3 mt-1 rounded">
                    Certificado
                  </h4>
                </a>
              </div>

              <!-- Card body -->
              <div id="collapse31" class="collapse" role="tabpanel" aria-labelledby="heading31"
                data-parent="#accordionEx5">
                <div class="card-body-1 rgba-light white-text z-depth-1">
                  <h6 class="p-md-4 mb-0">
                    <h6>
                      <ul>
                        <li>
                          <h3 class="ask-title">Vou receber certificado?</h3>
                          <br />
                          <p class="answer-text">
                            R: Sim :) Todos os nossos cursos possuem certificados.
                            Os certificados dos nossos cursos livres são documentos que podem ser contabilizados como
                            atividades extracurriculares no seu curso universitário, além de enriquecerem o seu
                            currículo.
                          </p>
                        </li>
                        <li>
                          <h3 class="ask-title">
                            Quais dados constam no certificado?
                          </h3>
                          <br />
                          <p class="answer-text">
                            Seu nome completo, número do RG, nome do curso, data de
                            conclusão, carga horária do curso e informações da empresa, como CNPJ e certificados de
                            acreditação da Associação Brasileira de Programação e TI.
                          </p>
                        </li>
                      </ul>
                    </h6>
                  </h6>
                </div>
              </div>
            </div>
            <!-- Accordion card -->

            <!-- Accordion card -->
            <div class="card mb-4">
              <!-- Card header -->
              <div class="card-header p-0 z-depth-1" role="tab" id="heading32">
                <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse32" aria-expanded="true"
                  aria-controls="collapse32">
                  <i class=" incon-fas fas fa-unlock-alt fa-2x p-3 mr-4 float-left black-text" aria-hidden="true"></i>
                  <h4 class="text-uppercase white-text mb-0 py-3 mt-1">
                    Acesso
                  </h4>
                </a>
              </div>

              <!-- Card body -->
              <div id="collapse32" class="collapse" role="tabpanel" aria-labelledby="heading32"
                data-parent="#accordionEx5">
                <div class="card-body-1 rgba-light white-text z-depth-1">
                  <h6 class="p-md-4 mb-0">
                    <ul>
                      <li>
                        <h3 class="ask-title">
                          Quais são os recursos do portal?
                        </h3>
                        <br />
                        <p class="answer-text">
                          O material dos nossos cursos é composto por vídeos,
                          PDFs, questões de múltipla escolha, projetos (dos simples aos complexos) e podcasts. Há também
                          um fórum de dúvidas, transcrição de vídeos e
                          acessibilidade em libras.
                        </p>
                      </li>
                      <li>
                        <h3 class="ask-title">O portal só pode ser acessado pelo computador?</h3>
                        <br />
                        <p class="answer-text">
                          Você pode acessar o conteúdo do seu curso pelo seu
                          computador (desktop e notebook), tablet ou celular. A
                          nossa plataforma é compatível com a maioria dos sistemas
                          operacionais. E não se preocupe, o seu progresso é salvo automaticamente. ;)
                        </p>
                      </li>
                      <li>
                        <h3 class="ask-title">
                          Esqueci o meu e-mail de acesso. O que eu faço?
                        </h3>
                        <br />
                        <p class="answer-text">
                          Preencha o formulário de contato com o seu nome completo e CPF que a nossa equipe prontamente
                          entrará em contato com você.
                        </p>
                      </li>
                      <li>
                        <h3 class="ask-title">Esqueci a minha senha. O que eu faço?</h3>
                        <br />
                        <p class="answer-text">

                      <li> Clique em <em>Área do aluno</em>;</li>
                      <li> Clique em <em>Esqueci minha senha</em>;</li>
                      <li> Siga os passos e cadastre sua nova senha conforme regra;</li>
                      <li> Caso necessite de auxílio, por favor, preencha o
                        formulário abaixo e abra um chamado com sua solicitação para
                        análise. </li>

                      </p>
                      </li>
                    </ul>
                  </h6>
                </div>
              </div>
            </div>
            <!-- Accordion card -->
          </div>
          <!--/.Accordion wrapper-->
        </div>
      </div>
    </div>
    <!-- Content -->
  </div>
  <!-- Card -->
  <!-- Fim do collapse (FAQ: perguntas e respostas) -->

  <!-- Form contact -->
  <div class="col-xl-4 center-block">
    <label>
      <h1 class="form-title">Tem outra dúvida?</h1>
      <br />
      <p class="form-subtitle">
        Preencha o formulário, vamos te ajudar da melhor forma possível!
      </p>
      <div></div>
    </label>
  </div>
  <form class="col-xl-6 py-0 center-block">
    <div class="md-form form-sm">
      <i class="fa fa-user prefix"></i>
      <label for="form1" class="form-text">* Nome</label>
      <input type="text" id="form1" class="form-control" />
    </div>
    <div class="md-form form-sm">
      <i class="fa fa-envelope prefix"></i>
      <input type="email" id="form2" class="form-control form-control-sm" />
      <label for="form2" class="form-text">* E-mail</label>
    </div>
    <div class="md-form form-sm">
      <i class="fa fa-phone prefix"></i>
      <input type="tel" id="form3" class="form-control form-control-sm" />
      <label for="form3" class="form-text">* Telefone</label>
    </div>
    <div class="md-form form-sm">
      <i class="fa fa-comment prefix "></i>
      <input type="text" id="form4" class="form-control form-control-sm" />
      <label for="form4" class="form-text">* Assunto</label>
    </div>

    <div class="md-form form-sm">
      <i class="fa fa-pencil prefix"></i>
      <textarea type="text" id="form5" class="md-textarea form-control form-control-sm" rows="4"></textarea>
      <label for="form5" class="form-text">Sua mensagem</label>
    </div>
    <div class="text-center mt-4">
      <button class="btn">
        Enviar <i class="fa fa-paper-plane-o ml-1"></i>
      </button>
    </div>
  </form>
  <div class="col-xl-6 py-0 center-block">
    <label style=" color: #bdbdbd">* Campos obrigatórios</label>
  </div>
  <!-- End form contact -->

  <!--Grid column-->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/scripts.js"></script>
</body>
