<!-- PÁGINA LOGIN

<div>
  <h3>Bem Vindo</h3>
  {{login?.nome}}
</div>
-->
<div>
<!-- Carousel -->
<div id="carousel-example-2" class="carousel slide carousel-fade  pt-5 pb-5" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active bg-info" ></li>
    <li data-target="#carousel-example-2" data-slide-to="1" class="active bg-info" ></li>
    <li data-target="#carousel-example-2" data-slide-to="2" class="active bg-info" ></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="img-fluid" src="../../../assets/images/1.png"
          alt="First slide">
        <div class="mask rgba-light"></div>
      </div>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="carousel-item">
      
      <div class="view">
        <img class="img-fluid" src="../../../assets/images/2.png"
          alt="Second slide">
        <div class="mask rgba-light"></div>
      </div>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="carousel-item">
      
      <div class="view">
        <img class="img-fluid" src="../../../assets/images/3.png"
          alt="Third slide">
        <div class="mask rgba-light"></div>
      </div>
      <div class="carousel-caption">
      </div>
    </div>
    <!--/.Slides-->
  </div>
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon bg-info" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon bg-info" aria-hidden="true"></span>
      <span class="sr-only bg-dark">Next</span>
    </a>
  </div>
  <!--/.Controls-->
<!--/.Carousel Wrapper-->
<!-- Fim do carousel -->
</div>

<div class="container-fluid destaque-card-container">
  <h1 class="my-4 text-center pt-5">DESTAQUES<br />
  </h1>
  <div class="row justify-content-center">
    <div *ngFor="let curso of cursos" class="col-lg-3 col-md-4 col-sm-6 mb-4 cursos-cards">
      <div class="card h-100">
        <a [routerLink]="['/pagina-curso', curso.id]"><img class="card-img-top" src="{{curso.urlImagem}}" alt=""></a>
        <div class="card-body cursos-card-body">
          <h4 class="card-title text-center">
            <a>{{curso.nome}}</a>
          </h4>
          <p class="card-text">{{curso.descricao}}</p>
          
          <div class="text-center">
            <h4 class="font-weight-bold">R$ {{curso.preco}}</h4>
            <button class="btn btn-comprar">Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

