.search-id{
    color: rgb(153, 199, 241);
    text-align: center;

}

.btn-comprar
{ 
  background-color: #4097aa!important;
  color: #fff!important;
}

.titulo{
    color: rgb(233, 160, 119);
    text-align: center;
}