<!-- Footer -->
<footer class="page-footer font-small">
    <!-- Footer Links -->
  
    <div class="container text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold" style="color: #f3deca;">ProgrAme.se</h6>
          <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p style="color: #f3deca;">Plataforma de cursos EaD cujo propósito é revolucionar o ensino de programação
            através de uma experiência de aprendizagem completa e interativa que vai além do código, tornando o aluno
            protagonista de seu próprio aprendizado.</p>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold" style="color: #f3deca;">Principais cursos</h6>
          <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p style="color: #f3deca;">
            Introdução à ciência da computação
          </p>
          <p style="color: #f3deca;">
            Lógica de programação com JavaScript
          </p>
          <p style="color: #f3deca;">
            Javascript intermediário
          </p>
          <p style="color: #f3deca;">
            TypeScript intermediário
          </p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <br><br>
          <p style="color: #f3deca;">
            <a></a>
          </p>
          <p style="color: #f3deca;">
            HTML5 e CSS3
          </p>
          <p style="color: #f3deca;">
            Bootstrap
          </p>
          <p style="color: #f3deca;">
            Angular
          </p>
          <p style="color: #f3deca;">
            Java para o back-end
          </p>
          <p style="color: #f3deca;">
            SCRUM
          </p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold" style="color: #f3deca;">Contato</h6>
          <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; ">
          <p style="color: #f3deca;">
            <i class="fas fa-home mr-3" style="color: #f3deca;"></i> São Paulo, SP </p>
          <p style="color: #f3deca;">
            <i class="fas fa-envelope mr-3" style="color: #f3deca;"></i> programe_se@cursos.com</p>
          <p style="color: #f3deca;">
            <i class="fas fa-phone mr-3" style="color: #f3deca;"></i> + 55 (11) 9 9999 9999 </p>
          <!-- Redes Sociais -->
          <div class="socialmedia">
            <h6 class="text-uppercase font-weight-bold" style="color: #f3deca;">Redes Sociais</h6>
            <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <div class="socialmedias">
              <!-- Facebook -->
              <a class="fb-ic">
                <i class="fab fa-facebook-f mr-4"> </i>
              </a>
              <!-- Twitter -->
              <a class="tw-ic">
                <i class="fab fa-twitter mr-4"> </i>
              </a>
              <!-- Google +-->
              <a class="gplus-ic">
                <i class="fab fa-google-plus-g mr-4"> </i>
              </a>
              <!--Linkedin -->
              <a class="li-ic">
                <i class="fab fa-linkedin-in mr-4"> </i>
              </a>
              <!--Instagram-->
              <a class="ins-ic">
                <i class="fab fa-instagram"> </i>
              </a>
            </div>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </div>
    <!-- End Footer Links -->
    
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">©ProgrAme.se 2020 Copyright
    </div>
    <!-- Copyright -->
  </footer>