.row{
    padding: 1.8em;
}
.fab{
    color: #f3deca;
}
.fas{
    color: #f3deca
}
.h6{
    color: #f3deca
}
.socialmedia{
    margin-top: 3em
}
.page-footer{
    background-color: #2D4057
}
.container{
    background-color: #2D4057;
}