<body class="fundo">


  <div class="contato-form col-md-8 py-4">
    <label>
      <br />
      <h1 class="form-title col-md-6 py-2 center-block">Contato</h1>
    </label>
  </div>
  <div class="md-form form-sm col-md-11 py-2 center-block">
    <label>* Campos obrigatórios</label>
  </div>
  <form class="contato-form md-form col-md-6 py-2  ">
    <div class="md-form form-sm">
      <i class="fa fa-user prefix"></i>
      <input type="text" id="form1" class="form-control form-control-sm" />
      <label for="form1">*Nome completo</label>
    </div>
    <div class="md-form form-sm">
      <i class="fa fa-envelope prefix"></i>
      <input type="text" id="form2" class="form-control form-control-sm" />
      <label for="form2">*E-mail</label>
    </div>
    <div class="md-form form-sm">
      <i class="fa fa-phone prefix"></i>
      <input type="text" id="form3" class="form-control form-control-sm" />
      <label for="form3">*Telefone</label>
    </div>
    <div class="md-form form-sm">
      <i class="fa fa-comment prefix "></i>
      <input type="text" id="form4" class="form-control form-control-sm" />
      <label for="form4">*Assunto</label>
    </div>
    <div class="md-form form-sm">
      <i class="fa fa-pencil prefix"></i>
      <textarea type="text" id="form5" class="md-textarea form-control form-control-sm" rows="4"></textarea>
      <label for="form5">Sua mensagem</label>
    </div>
    <div class="text-center mt-4">
      <button class="btn btn-rounded">
        Enviar <i class="fa fa-paper-plane-o ml-1"></i>
      </button>
    </div>
  </form>

</body>
 