  
    
    <div class="flex-column d-flex img-fluid">
       <img  class="imagem-cabecalho" src="../../../assets/images/programe-se.jpg" alt="">
       
        <!-- <div class="titulo d-flex justify-content-center align-middle">
            <h1>Sobre Nós</h1>
        </div> --> 
    </div>


<main class="sobre-nos">
    <div class="descricao-empresa p-4">
        <h3 id="nossa-missao">
            Nossa missão é trazer autonomia aos nossos alunos para solucionarem problemas e se destacarem no mercado de
            trabalho.
        </h3>
        <div class="container-fluid">
            <div class="row p-5">
                <div class="col-lg-6 col-md">
                    <p class="txt">
                        Na internet, é possível encontrar diversos cursos da área de tecnologia.
                        Entretanto, por mais que esses cursos ofereçam um conteúdo relevante,
                        o aluno não se sente confiante o bastante para enfrentar o mercado de trabalho ao finalizar seus
                        estudos.
                    </p>
                </div>
                <div class="col-lg-6 col-md">
                    <p class="txt">
                        A <b>ProgrAme.se</b> surgiu com o intuito de suprir essa necessidade,
                        fornecendo uma experiência de aprendizagem diversificada, completa e interativa, que faz do
                        aluno protagonista de seu próprio aprendizado.
                        Além disso, nosso aluno conta com o apoio de uma equipe de professores altamente qualificados em
                        todas as etapas dos estudos e dos projetos.
                        Ao final de cada curso, o aluno se sentirá verdadeiramente preparado para entrar no mercado de
                        trabalho.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Início Minibios -->
    <div id="minibios">
        <h1 class="d-flex justify-content-center" id="equipe">NOSSA EQUIPE</h1> 
        
        <!-- Artur -->
        <div class="row featurette linha-minibio"> 
            <div class="col-md-7 order-md-2 info-minibio">
                <h2 class="featurette-heading">
                    Artur Gutierre
                    <span class="text-muted profissao"><br>Desenvolvedor Web Full Stack Jr.</span>
                </h2>
                <p class="texto-minibio">
                    Possui vasta experiência em atendimento ao cliente, principalmente monitoramento e interações em
                    redes sociais. Sempre esteve por dentro do mundo da tecnologia, iniciando sua vida profissional na
                    área de Tecnologia da Informação.
                </p>
            </div>
            <div class="col-md-5 order-md-1 foto">
                <img class="rounded-circle estilo-foto" src="../../assets/images/artur.jpg" alt="">
            </div>
        </div>

        <!-- Carol  -->
        <div class="row featurette linha-minibio">
            <div class="col-md-7 info-minibio">
                <h2 class="featurette-heading">
                    Carolina Lima
                    <span class="text-muted profissao"><br>Desenvolvedora Web Full Stack Jr.</span>
                </h2>
                <p class="texto-minibio">
                    Possui duas paixões: educação e programação. Educação é uma paixão antiga: graduou-se em Letras pela
                    Unesp e atua como professora há 10 anos. Programação é sua nova paixão, descoberta ao estudar sobre
                    experiências de aprendizagem no ambiente virtual. No momento, faz especialização em Gestão da
                    Educação a Distância pela UFSCar.
                </p>
            </div>
            <div class="col-md-5 foto">
                <img class="rounded-circle estilo-foto" src="../../assets/images/carol.jpg" alt="">
            </div>
        </div>

        <!-- Joyce -->
        <div class="row featurette linha-minibio">
            <div class="col-md-7 order-md-2 info-minibio">
                <h2 class="featurette-heading">
                    Joyce Silva
                    <span class="text-muted profissao"><br>Desenvolvedora Web Full Stack Jr.</span>
                </h2>
                <p class="texto-minibio">
                    Formada em Eventos, trabalha como produtora cultural em projetos sociais. Participa de coletivos
                    voltados à população preta e atualmente estuda Análise e Desenvolvimento de Sistemas. Entrou na
                    área de tecnologia com o objetivo de levar informação para as periferias de São Paulo,
                    desenvolvendo ferramentas de educação e mudança social.
                </p>
            </div>
            <div class="col-md-5 order-md-1 foto">
                <img class="rounded-circle estilo-foto" src="../../assets/images/joyce1.jpg" alt="">
            </div>
        </div>

        <!-- Lucas  -->
        <div class="row featurette linha-minibio">
            <div class="col-md-7 info-minibio">
                <h2 class="featurette-heading">
                    Lucas Santos
                    <span class="text-muted profissao"><br>Desenvolvedor Web Full Stack Jr.</span>
                </h2>
                <p class="texto-minibio">
                    Apaixonado por tecnologia e História, começou sua carreira de programador como autodidata. Busca se
                    manter atualizado a respeito de novas ferramentas e abordagens, sempre focando no lado humano e no
                    seu objetivo principal, impactar vidas.
                </p>
            </div>
            <div class="col-md-5 foto">
                <img class="rounded-circle estilo-foto" src="../../assets/images/lucas.jpg" alt="">
            </div>
        </div>


        <!-- Mayara -->
        <div class="row featurette linha-minibio">
            <div class="col-md-7 order-md-2 info-minibio">
                <h2 class="featurette-heading">
                    Mayara Barbosa
                    <span class="text-muted profissao"><br>Desenvolvedora Web Full Stack Jr.</span>
                </h2>
                <p class="texto-minibio">
                    Possui mais de 5 anos de expêriencia em atendimento ao cliente, com foco em pré e pós venda e SAC.
                    Hoje foca seus estudos na área de tecnologia, visando seu crescimento profissional e pessoal. Formada em Gestão Ambiental pelo
                    Instituto Mauá de Tecnologia e em Desenvolvimento Web Full Stack Jr. pelo bootcamp da Generation
                    Brasil.
                </p>
            </div>
            <div class="col-md-5 order-md-1 foto">
                <img class="rounded-circle estilo-foto" src="../../assets/images/mayara1.jpg" alt="">
            </div>
        </div>
    </div>


    <!--Voltar ao topo-->
    <div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">

        <button class="btn btn-outline-dark btn-rounded waves-effect d-flex" (click)="voltarAoTopo()" id="botaotopo"
            title="Voltar ao topo">Voltar ao topo</button>
    </div>

</main>