
.navbar {
   padding: 0.2em 1rem;
   z-index: 3; /*posiciona camadas: qt maior o n, sobrepõe camadas*/
   box-shadow: none !important;
}

.navbar-container {
   background-color: #F3DECA;
   
}

.navbar-nav {
   text-align: center;
}

.navbar-dot {
   padding: 2px 3px 0 3px;
}

.btn{
   background-color:  rgba(64, 151, 170, 0.863);
   color: rgba(64, 151, 170, 0.863);
}

/*div inicial, links*/

.navbar.navbar-light .nav-link  { 
   padding: 0.3em;
   font-weight: bold;
   font-size: 0.8em;
   margin-right: 0.3em; 
   color: #4097AA;
}

.navbar.navbar-light .nav-link:hover  { 
   color: white;
}

.navbar.navbar-light .nav-link.btn{
   color: #f3deca;
   margin: 0 0.5rem;
   width: fit-content;
}

.navbar.navbar-light .nav-link.btn:hover{
   background-color: #4ca0af;
   color: white;
   margin: 0 0.5rem;
}

.navbar.navbar-light .nav-link.btn{
   color: #f3deca;
   margin: 0 0.5rem;
}
 
 li a:hover, .dropdown:hover .dropbtn {
   background-color: #f3decac0; 
 }

 .ul-lupa li {
   list-style: none;
 }
 
