.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-title {
  color: #4097aa;
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
}

.fa {
  color: #4097aa;
}

.login-logo {
  align-self: center
}

.btn {
  background-color: #4097aa;
  color: #ffff;
}

.modal-content {
  background: url('../../../assets/images/bg-modal.png') center center no-repeat;
}

#p {
  color: #4097aa;
  font-size: small;
}